html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

h1, p, div {
    color: #494949;
    font-size: 20px;
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: rgb(93, 93, 93);
    padding: 5px 0;
}

.navbar-links {
    margin: auto;
    display: inline-block;
}

.navbar-link {
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    font-size: 22px;
    transition: background-color .3s, color .3s;
    color: #ffffff;
}

.navbar-link:hover {
    background-color: #cacaca;
    color: #494949;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

#headerGreeting {
    padding: 10px;
    display: inline-block;
    float: right;
    color: #cacaca;
    font-size: 22px;
}
footer {
    display: inline-block;
    width: 100%;
    clear: both;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    background-color: #5d5d5d;
    color: white;
}

footer p {
    font-size: 16px;
}
.selected {
    background-color: #cacaca;
    color: #494949;
}

section {
    padding: 20px;
}

#infoBox, #errorBox, #loadingBox {
    padding: 20px;
    text-align: center;
}

#errorBox {
    background-color: rgba(255, 0, 0, 0.4);
}

#infoBox {
    background-color: rgba(0, 255, 0, 0.4);
}

.inputBox {
    padding: 10px;
    width: 300px;
    transition: background-color .3s, color .3s;
    border: none;
    background-color: #cacaca;
    color: #494949;
    margin-top: 5px;
    margin-bottom: 5px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}

.inputBox:focus {
    background-color: #5d5d5d;
    color: #ffffff;
    transition: background-color .3s, color .3s;
    outline: transparent none;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 120px;
    padding: 10px;
    border: none;
    background-color: #5d5d5d;
    color: #ffffff;
    transition: background-color .3s, color .3s;
    outline: transparent none;
}

.button:hover {
    color: #5d5d5d;
    background-color: #cacaca;
    transition: background-color .3s, color .3s;
}

.advertBox {
    display: inline-block;
    width: 25%;
    height: 25%;
    margin: 10px;
    background-color: #cacaca;
}

.advertPrice {
    display: inline-block;
    width: 50%;
}

.advertCondition {
    display: inline-block;
    width: 50%;
}

.advertBox:hover {
    cursor: pointer;
}

.advertImage {
    max-width: 40%;
    max-height: 40%;

}