html {
    width: 100%;
}

body {
    margin: 0;
}

h1, p, div {
    color: #494949;
}

div {
    margin: 5px 0 5px 0;
}

.navbar {
    width: 100%;
    background-color: rgb(93, 93, 93);
    padding: 5px 0;
}

.navbar-links {
    margin: auto;
}

.navbar-link {
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    font-size: 22px;
    transition: background-color .3s, color .3s;
    color: #ffffff;
}

.navbar-link:hover {
    background-color: #cacaca;
    color: #494949;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}
footer {
    display: inline-block;
    width: 100%;
    clear: both;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    background-color: #5d5d5d;
    color: white;
}
.selected {
    background-color: #cacaca;
    color: #494949;
}
section {
    padding: 20px;
}